<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:background="@drawable/bg_5"
    android:layout_height="match_parent">
    <ScrollView
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/scrollView1">
        <LinearLayout
            android:orientation="vertical"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:focusable="true"
            android:id="@+id/linearLayout1">
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout2"
                android:padding="10dp"
                android:layout_gravity="center"
                android:layout_marginBottom="30dp"
                android:layout_marginTop="50dp">
                <ImageView
                    android:src="@drawable/ic_ngo"
                    android:layout_width="120dp"
                    android:layout_height="120dp"
                    android:id="@+id/imageView1"
                    android:layout_gravity="center" />
                <TextView
                    android:text="#FORAUTHORITY"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/textViewHashtagNGO2"
                    android:textStyle="bold"
                    android:textSize="22sp"
                    android:layout_gravity="center"
                    android:layout_marginTop="3dp"
                    android:textColor="#ffffff" />
            </LinearLayout>
            <LinearLayout
                android:orientation="vertical"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/linearLayout1"
                android:layout_gravity="center"
                android:gravity="bottom"
                android:paddingBottom="20dp"
                android:paddingLeft="10dp"
                android:paddingRight="10dp"
                android:paddingTop="20dp"
                android:background="@drawable/roundbutton_layout5"
                android:layout_marginLeft="15dp"
                android:layout_marginRight="15dp"
                android:layout_marginBottom="20dp">
                <ProgressBar
                    android:layout_width="50dp"
                    android:layout_height="50dp"
                    android:id="@+id/circleProgress"
                    style="?android:attr/progressBarStyleLarge"
                    android:visibility="gone"
                    android:layout_gravity="center"
                    android:layout_margin="5dp" />
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/NGORegistrationName"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:hint="Authority Name"
                        android:inputType="text" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/NGORegistrationID"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:hint="Authority Registration ID"
                        android:inputType="text" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/NGOSignupPhoneNumber"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:maxLength="10"
                        android:hint="Registered Phone Number"
                        android:inputType="phone"
                        android:phoneNumber="true" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/NGOSignupPassword"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:hint="Password"
                        android:maxLength="10"
                        android:password="true" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="10dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom"
                    android:layout_marginBottom="10dp">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/NGOSignupEmailID"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:hint="Registered Email ID"
                        android:inputType="textEmailAddress" />
                </android.support.design.widget.TextInputLayout>
                <android.support.design.widget.TextInputLayout
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:layout_marginTop="5dp"
                    android:textColorHint="#55b7b7b7"
                    android:layout_gravity="bottom">
                    <EditText
                        android:layout_width="match_parent"
                        android:layout_height="86.5dp"
                        android:id="@+id/NGOSignupAddress"
                        android:layout_margin="5dp"
                        android:textColor="#ffffff"
                        android:hint="Address"
                        android:inputType="textMultiLine"
                        android:textSize="20sp" />
                </android.support.design.widget.TextInputLayout>
                <Button
                    android:text="Signup"
                    android:layout_width="match_parent"
                    android:layout_height="50dp"
                    android:id="@+id/NGOSignupButtonProceed"
                    android:background="@drawable/roundbutton_layout"
                    android:textSize="20sp"
                    android:textColor="#ffffff"
                    android:textAllCaps="true"
                    android:layout_marginBottom="5dp"
                    android:layout_marginLeft="5dp"
                    android:layout_marginRight="5dp"
                    android:layout_marginTop="10dp" />
            </LinearLayout>
        </LinearLayout>
    </ScrollView>
</RelativeLayout>